/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 70px; /* Add margin to the top of the header to push it down */
}

/* Navigation styles */
nav {
    background-color: #666;
    padding: 10px 0;
    text-align: center;
    position: fixed; /* Make the navigation fixed */
    width: 100%; /* Take up the full width of the viewport */
    top: 0; /* Position the navigation at the top */
    z-index: 1000; /* Ensure the navigation is above other content */
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Section styles */
section {
    height: calc(100vh - 70px); /* Adjust height of sections to account for fixed navigation bar */
    padding: 20px;
    text-align: center;
    margin-top: 70px; /* Add margin to the top of sections to push content below the navigation bar */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

/* Additional styles for scroll reveal effect */
.scroll-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-reveal.reveal {
    opacity: 1;
    transform: translateY(0);
}

/* Rounded edges for images */
.image-container img {
    border-radius: 10%; /* Adjust the percentage to control the roundness */
    overflow: hidden; /* Hide any overflow beyond the rounded border */
}
